<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tema</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of preguntas">
                        <td>{{p.id}}</td>
                        <td>{{p.pregunta}}</td>
                        <td class="text-end">
                            <button class="btn btn-outline-secondary"><i class="bi bi-eye-fill"></i></button>
                            &nbsp;
                            <button class="btn btn-outline-success"><i class="bi bi-pencil-fill"></i></button>
                            &nbsp;
                            <button class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>