<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card mt-3" >
                <div class="card-header">Agregar pregunta</div>
                <div class="card-body">
                    <select class="form-select" [(ngModel)]="newP.categoria">
                        <option value="General">General</option>
                        <option value="Programacion">Programacion</option>
                        <option value="Redes">Redes</option>
                    </select>
                    <input type="text" class="form-control mt-1"  [(ngModel)]="newP.pregunta" >
                    <button class="btn btn-outline-primary float-end mt-3" (click)="crearPregunta()">
                        <i class="bi bi-cloud-upload"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tema</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of preguntas">
                        <td>{{p.no}}</td>
                        <td>{{p.pregunta}}</td>
                        <td class="text-end">
                            <button class="btn btn-outline-secondary"><i class="bi bi-eye-fill"></i></button>
                            &nbsp;
                            <button class="btn btn-outline-success"><i class="bi bi-pencil-fill"></i></button>
                            &nbsp;
                            <button class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>