<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="bi bi-chat-left-dots-fill"></i>
            &nbsp;Foro Dudas ITSCH
        </a>
    </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col text-center">
                <div class="card mt-3">
                    <div class="card-header">
                        Registro de usuario
                    </div>
                    <div class="card-body">
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="bi bi-envelope"></i>
                            </div>
                            <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="email">
                        </div>
                        <div class="input-group mt-3">
                            <div class="input-group-text">
                                <i class="bi bi-key"></i>
                            </div>
                            <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="pass">
                        </div>
                    </div>
                    <div class="alert alert-danger" role ="alert" *ngIf="showError">
                        Este correo ya existe, no se pudo registrar
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-end" value="Entrar" (click)="register()">
                            <div class="spinner-border spinner-border-sm" role="status" *ngIf="showLoading"> 
                            </div>
                            Entrar
                        </button> 
                    </div>
                </div>
               <a href="/login" class="link-success">Regresar a Login</a>
            </div>
            <div class="col"></div>
        </div>
    </div>
